version: 2
workflows:
  version: 2
  build-workflow:
    jobs:
      - build:
          context: github
jobs:
  build:
    docker:
      - image: cibuilds/hugo:0.55.6
    steps:
      - checkout
      - run:
          name: install
          command: |
            apk add --update nodejs nodejs-npm
            npm config set unsafe-perm true
            npm install html-minifier -g
      - run:
          name: sync git repo
          command: |
            git clone --depth 1 https://github.com/morvencao/morvencao.github.io.git public
            find ./public -not -name '.git' -mindepth 1 -maxdepth 1 -print0 | xargs -0 rm -rf --
      - run:
          name: update theme
          command: |
            git submodule update --init
      - run:
          name: build site
          command: |
            make site
            html-minifier --input-dir ./public --output-dir ./public --collapse-whitespace --file-ext html
      - run:
          name: setup git
          command: |
            git config --global credential.helper 'cache --timeout=120'
            git config --global user.email "morvencao@gmail.com"
            git config --global user.name "morvencao.CI"
      - deploy:
          name: push newest site
          command: |
            export msg=$(git log --pretty=format:%s -1)
            cd public
            cp index.xml atom.xml
            if [ -n "$(git status --porcelain)" ]; then
              git add .
              git commit --allow-empty -m "$msg"
              git push -q https://${GITHUB_TOKEN}@github.com/morvencao/morvencao.github.io.git master --force
            else
              echo "no changes";
            fi
